.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}
.nav-li-center{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.logo{
    width: 130px;
    height: 60px;
}

.nav-btn{
    background-color: #30B868;
    width: 170px;
    height: 46px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    justify-items: center;
    
}

.hero-h1{
    color: #ffffff;
    font-size: 72px;
    
}
.hero-h1-span{
    color: #30B868;
    
}

.hero-p{
    color: #ffffff;
    font-size: 18px;
    margin-left: 50px;
    margin-top: -40px;
}


.hero-btn-1{
    width: 240px;
    height: 45px;
    background-color: #30B868;
    color: #f1f0f0;
    border: none;
    border-radius: 5px;
    display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
    
}

.hero-btn-2{
    width: 180px;
    height: 45px;
    background: none;
    color: #ffffff;
    border: 1px solid #db1984 ;
}
.div2{
  display: flex;
  justify-content: center;
}

.hero-span{
    background-color: #f1f0f0;
    margin-left: 240px;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    color: #469165;
}

.div{
    padding-top: 140px;
}

.notes {
  padding: 80px 60px;
  background-color: #f8fafc;
}

.notes-header {
  text-align: center;
  margin-bottom: 50px;
}

.notes-header h2 {
  font-size: 46px;
  font: bold;
  margin-bottom: 10px;
  color: #0f172a;
}

.notes-header p {
  font-size: 15px;
  color: #64748b;
}


.notes-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.note-card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  background-color: #f95555;
  margin-top: 50px;
}

.note-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0f172a;
}

.note-card p {
  font-size: 16px;
  color: #64748b;
  line-height: 1.5;
  margin-bottom: -15px;
}

.second-brain{
  padding: 100px 60px;
  background-color: #ffffff;
}

.brain-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.brain-span{
  color: #30B868;
  font-size: 18px;
}

.brain-h1{
  font-size: 50px;
  text-transform: capitalize;
  margin-top: -2px;
}

.brain-p{
  font-size: 15px;
  color: #627382;
  margin-bottom: 35px;
  margin-top: -10px;
}

.brain-h2{
  font-size: 16px;
  display: flex;
  justify-items: center;
  gap: 6px;
  margin-top: -4px;
}

.img-span{
  padding-top: -20px;
  width: 20px;
  height: 20px;
}

.early-access {
  color: black;
  justify-items: center;
  margin-top: 0px;
}

.early-container {
 width: 1380px;
 height: 280px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f6f2;
  justify-items: center;
  justify-content: center;
  padding-top: 40px;
}

.early-h1{
  font-size: 40px;
}

.early-p{
  color: #627382;
  margin-top: -10px;
}
.early-p2{
  color: #627382;
}

.early-btn{
  background-color: #30B868;
  border: none;
  color: #f1f0f0;
  padding: 12px 20px 7px 20px;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  
}

.early-btn-span{
  margin-left: 5px;
}